/* Required to have full-screen RadSplitter "Segoe UI", */
html, body, form{height:100%;margin:0;padding:0;/*overflow:hidden;*/font:normal 13px/1.5em Arial, sans-serif;}

form{cursor:default;}

a{text-decoration:none;color:#3A66CC;}
a:hover{text-decoration:underline;}
img{border:0;}

/* <header> */

#HCSSS_header{height:48px;background-color:transparent;background-repeat:repeat-x;}

.logo{background-color:transparent;background-repeat:no-repeat;width:196px;height:48px;float:left;padding-left:10px;}
.datetime{color:#FFF;float:left;margin-left:30px;padding-top:30px;width:300px;}

.RadForm_Black .header, .RadForm_Black .logo,
.RadForm_Default .header, .RadForm_Default .logo,
.RadForm_Telerik .header, .RadForm_Telerik .logo,
.RadForm_Hay .header, .RadForm_Hay .logo,
.RadForm_Forest .header, .RadForm_Forest .logo{background-image:url('../Images/LayoutDefault/header-darks.png');}

.RadForm_Black .header{background-position:0 -49px; }
.RadForm_Black .logo{background-position:0 0; background-position:100px 100px;}
.RadForm_Default .header{background-position:0 -147px; }
.RadForm_Default .logo{background-position:0 -98px; background-position:100px 100px;}
.RadForm_Telerik .header{background-position:0 -245px; }
.RadForm_Telerik .logo{background-position:0 -196px; background-position:100px 100px;}
.RadForm_Hay .header{background-position:0 -343px; }
.RadForm_Hay .logo{background-position:0 -294px; background-position:100px 100px;}
.RadForm_Forest .header{background-position:0 -441px; }
.RadForm_Forest .logo{background-position:0 -392px; background-position:100px 100px;}

.RadForm_Sunset .header, .RadForm_Sunset .logo,
.RadForm_Outlook .header, .RadForm_Outlook .logo,
.RadForm_Office2007 .header, .RadForm_Office2007 .logo,
.RadForm_WebBlue .header, .RadForm_WebBlue .logo,
.RadForm_Web20 .header, .RadForm_Web20 .logo,
.RadForm_Vista .header, .RadForm_Vista .logo{background-image:url('../Images/LayoutDefault/header-colds.png'); /* ... yet sunset isn't actually cold */}

.RadForm_Sunset .header{background-position:0 -49px; }
.RadForm_Sunset .logo{background-position:0 0; background-position:100px 100px;}
.RadForm_Outlook .header{background-position:0 -147px; }
.RadForm_Outlook .logo{background-position:0 -98px; background-position:100px 100px;}
.RadForm_Office2007 .header{background-position:0 -245px; }
.RadForm_Office2007 .logo{background-position:0 -196px; background-position:100px 100px;}
.RadForm_WebBlue .header{background-position:0 -343px; }
.RadForm_WebBlue .logo{background-position:0 -294px; background-position:100px 100px;}
.RadForm_Web20 .header{background-position:0 -441px; }
.RadForm_Web20 .logo{background-position:0 -392px; background-position:100px 100px;}
.RadForm_Vista .header{background-position:0 -539px; }
.RadForm_Vista .logo{background-position:0 -490px; background-position:100px 100px;}

.skin-chooser{position:absolute;top:13px;right:13px;cursor:default;color:#fff;text-align:right;}

.rcbSlide{z-index:10000 !important;}

/* </header> */


/* move the last menu item to the right */

/* center the calendars */
.calendar-container{width:220px;margin:10px auto;}

/* FF2 bugfix*/
#RAD_SPLITTER_PANE_CONTENT_ctl00_topPane{overflow:visible !important;}

/* required so RadGrid in the Contacts page is 100% tall in FireFox */
#ctl00_cplhContainer_ctl00_cplhContainer_radGridDefaultPanel{/*height:100%;*/}

/* apply height to the update panel that contains the RadScheduler
   so it can resize properly */
.RadToolBar .rtbTemplate .RadInput{line-height:22px;display:-moz-inline-stack;display:inline-block;*display:inline;zoom:1;vertical-align:baseline;}

.RadToolBar .RadComboBox,
.RadMenu .RadComboBox,
.RadMenu .skinLabel{vertical-align:middle;}

* html .RadMenu .rmTemplate .rmText{padding-bottom:3px;}

.contacts-filter-toolbar .rtbTemplate{color:White;width:400px;}

div.RadToolBar{width:100%;}

div.inbox-search-toolbar .rtbOuter,
div.inbox-search-toolbar .rtbMiddle,
div.inbox-search-toolbar .rtbInner,
div.contacts-filter-toolbar .rtbOuter,
div.contacts-filter-toolbar .rtbMiddle,
div.contacts-filter-toolbar .rtbInner{border-left-width:0;border-right-width:0;padding-left:0;padding-right:0;}

div.inbox-search-toolbar .rtbTemplate{margin-left:100px;}

/* message DetailsView*/

#message-body{padding:0 16px 25px;}

.rfdBlack #message-body a{color:#9EDA29; }
.rfdDefault #message-body a{color:#6C6C6C; }
.rfdForest #message-body a{color:#751A04; }
.rfdHay #message-body a{color:#50B306; }
.rfdOffice2007 #message-body a{color:#606F94; }
.rfdOutlook #message-body a{color:#355D98; }
.rfdSunset #message-body a{color:#5d1f00; }
.rfdTelerik #message-body a{color:#64B33E; }
.rfdVista #message-body a{color:#0F5477; }
.rfdWeb20 #message-body a{color:#38477F; }
.rfdWebBlue #message-body a{color:#38477F; }

.message-view{width:100%;}

.message-view ul{margin:10px 6px;padding:0;list-style:none;border-bottom:1px solid #add1ff;}

.message-view ul h3{margin:0;}

.message-view li label{display:inline-block;width:40px;color:#6f9dd9;}

/* contact details nested view template */
.contact-details img{float:left;margin:0 12px 0 6px;}
* html .contact-details img{margin-left:3px }

.contact-details ul{list-style:none;margin:10px;}

.contact-details label{display:inline-block;font-weight:bold;width:80px;}


.rpTemplate input{vertical-align:middle;margin-top:0;}

/* <notes> */

.notes-list img{vertical-align:text-top;margin:0 4px 0 0;}

/* </notes> */

/* <calendar> */

div.RadScheduler .rsAdvancedEdit .rsAdvRadio{margin-right:4px;}

/* </calendar> */


/* Footer */
#HCSSS_footer{text-align:center;font-size:11px;padding:15px 0;}
#HCSSS_footer a{font-weight:bold;}


/*.rcbHeader ul, .rcbFooter ul, .rcbItem ul, .rcbHovered ul, .rcbDisabled ul {list-style-type:none;}
.col1, .col2, .col3{float:left;line-height:14px;margin:0;padding:0 4px 0 0;width:65px;}*/