<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="NoRightToAccess" value="Bạn không có quyền Truy cập." />
	<add key="NoRightToCreate" value="Bạn không có quyền Tạo mới." />
	<add key="NoRightToDelete" value="Bạn không có quyền Xóa." />
	<add key="ItemDoesntExist" value="Item không tồn tại." />
	<add key="UserDoesntExist" value="Người dùng chưa có trong hệ thống." />
	<add key="UserLoginSuccess" value="Đăng nhập thành công." />
	<add key="UserLoginFailed" value="Đăng nhập lỗi. Sai Tên đăng nhập hoặc Mật khẩu." />
	<add key="UserLogoutSuccess" value="Thoát thành công." />
	<add key="UserLogoutFailed" value="Lỗi: Bạn chưa đăng nhập hoặc sai Tên đăng nhập, Mật khẩu." />
	<add key="UserDoesntLogin" value="Hãy đăng nhập trước." />
	<add key="UserLocked" value="Tài khoản của bạn đã bị Khóa. Hãy liên hệ người quản trị để biết thêm chi tiết!!!" />
	<add key="UserTryLocked" value="Bạn đã đăng nhập sai 3 lần. Bạn sẽ bị khóa Đăng nhập trang 30'!!!" />
	<add key="SubmitContactSuccess" value="Gửi thông tin thành công. Cảm ơn bạn đã liên hệ, chúng tôi sẽ trả lời bạn sớm." />
	<add key="SubmitContactFaile" value="Gửi thông tin lỗi. Xin bạn hãy gửi lại." />
	<add key="CodeCantEmpty" value="Bạn phải nhập Mã (Code)!" />
	<add key="PasswordCantEmpty" value="Bạn phải nhập Mật khẩu!" />
	<add key="FullnameCantEmpty" value="Bạn phải nhập Họ tên!" />
	<add key="AddressCantEmpty" value="Bạn phải nhập Địa chỉ!" />
	<add key="CertificateDataCantEmpty" value="Bạn phải nhập {0}" />
	<add key="SexCantEmpty" value="Bạn phải chọn Giới tính!" />
	<add key="LoginBeforeCheckout" value="Bạn phải Đăng nhập hệ thống trước khi Thanh toán!" />
	<add key="PhoneCantEmpty" value="Bạn phải nhập Số điện thoại!" />
	<add key="CommentCantEmpty" value="Bạn phải nhập Lí do từ chối!" />
	<add key="DistrictCantEmpty" value="Bạn phải chọn Quận/Huyện!" />
	<add key="CityCantEmpty" value="Bạn phải chọn Tỉnh/Thành phố!" />
	<add key="CantFindEmail" value="Email của bạn không tồn tại!" />
	<add key="NewPasswordHasBeenSent" value="Mật khẩu mới đã được gửi vào Email của bạn!" />
	<add key="InvalidText" value="Sai Hình ảnh kiểm tra!" />
	<add key="WrongFileSizeAllow" value="Vượt quá dung lượng cho phép!" />
	<add key="WrongFileTypeAllow" value="Định dạng sai!" />
	<add key="WrongImageSize" value="Vượt quá kích thước file ảnh cho phép!" />
	<add key="UploadSuccess" value="Upload thành công!" />
	<add key="DateCantEmpty" value="Phải nhập Ngày ban hành và Ngày có hiệu lực!" />
	<add key="FromDateCantEmpty" value="Phải nhập ngày bắt đầu!" />
	<add key="ToDateCantEmpty" value="Phải nhập ngày kết thúc!" />
	<add key="FromDateGreaterThanToDate" value="Ngày bắt đầu không được lớn hơn ngày kết thúc!" />
	<add key="ArchiveSuccess" value="Lưu trữ thành công!" />
	<add key="ArchiveFaile" value="Lưu trữ thất bại!" />
	<add key="CantNotCreateThumb" value="Không tạo được Thumb!" />
	<add key="UserNotActive" value="Tài khoản của bạn chưa được xét duyệt!" />
	<add key="UserBlackList" value="Tài khoản của bạn trong Sổ đen!" />
	<!-- System-->
	<add key="PasswordAndRetypeError" value="Mật khẩu và Gõ lại Mật khẩu không giống nhau." />
	<add key="WrongPassword" value="Mật khẩu cũ không đúng." />
	<add key="ChangePasswordSuccess" value="Thay đổi Mật khẩu thành công." />
	<add key="LoginNameExisted" value="Tài khoản đã được đăng ký! Bạn hãy chọn tên Tài khoản khác!" />
	<add key="EmailExisted" value="Email đã được đăng ký! Bạn hãy chọn email khác!" />
	<add key="EmailCantEmpty" value="Bạn phải nhập Email!" />
	<add key="DateOfBirthCantEmpty" value="Bạn phải chọn Ngày sinh!" />
	<add key="SaveSuccess" value="Đã lưu thay đổi thành công." />
	<add key="MenuParentError" value="Menu cha không được trùng với chính nó!" />
	<add key="NameCantEmpty" value="Bạn phải nhập Tên!" />
	<add key="DisplayNameCantEmpty" value="Bạn phải nhập Tên hiển thị!" />
	<add key="AliasExisted" value="Alias đã có trong cơ sở dữ liệu! Không thể thêm vào!" />
	<add key="NameExisted" value="Tên đã có trong cơ sở dữ liệu! Không thể thêm vào!" />
	<!-- Email Subject-->
	<add key="CantSendEmail" value="Không thể gửi email!" />
	<add key="NewPassword" value="HCSSS - Hỗ trợ - Mật khẩu mới" />
	<add key="ChangePassword" value="HCSSS - Hỗ trợ - Đổi mật khẩu" />
	<!-- History -->
</appSettings>