<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="BizConfiguration" type="HCSSS.Framework.Biz.ConfigSerializerSectionHandler, HCSSS.Framework.Biz" allowLocation="true" allowDefinition="Everywhere" />
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="rewriteModule" type="RewriteModule.RewriteModuleSectionHandler, RewriteModule" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<connectionStrings>
	</connectionStrings>
	<system.web>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<sessionState timeout="30"></sessionState>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<authentication mode="Windows" />
		<customErrors mode="Off" defaultRedirect="Error.aspx">
			<error statusCode="403" redirect="Error.aspx?msg=NoAccess" />
			<error statusCode="404" redirect="Error.aspx?msg=FileNotFound" />
		</customErrors>
		<httpHandlers>
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
			<add path="Logout.aspx" verb="*" type="HCSSS.Framework.System.Logout" />
			<add path="*.jpg" verb="*" type="HCSSS.Framework.Common.ImageProxy" />
			<add path="*.gif" verb="*" type="HCSSS.Framework.Common.ImageProxy" />
			<add path="*.png" verb="*" type="HCSSS.Framework.Common.ImageProxy" />
			<add path="*.bmp" verb="*" type="HCSSS.Framework.Common.ImageProxy" />
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
		</httpModules>
		<httpRuntime maxRequestLength="200480" />
		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="SystemCache" enabled="true" duration="20" varyByParam="*" />
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
	</system.web>
	<location path="thumb">
		<system.web>
			<httpHandlers>
				<add path="*" verb="*" type="HCSSS.Framework.Common.ViewThumbnail" />
			</httpHandlers>
		</system.web>
	</location>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
		</modules>
		<handlers>
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<remove name="WebServiceHandlerFactory-Integrated" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
		</handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
	</system.webServer>
	<!--Biz Configuration-->
	<BizConfiguration ObjectType="HCSSS.Framework.Biz.BizObject" Assembly="HCSSS.Framework.Biz">
		<!-- System -->
		<BizObject Name="ConfigurationManager" Type="HCSSS.Framework.System.BizLogic.ConfigurationManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="FunctionManager" Type="HCSSS.Framework.System.BizLogic.FunctionManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="GroupManager" Type="HCSSS.Framework.System.BizLogic.GroupManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="GroupMemberManager" Type="HCSSS.Framework.System.BizLogic.GroupMemberManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="LoggingManager" Type="HCSSS.Framework.System.BizLogic.LoggingManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="MenuManager" Type="HCSSS.Framework.System.BizLogic.MenuManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="ModuleManager" Type="HCSSS.Framework.System.BizLogic.ModuleManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="PolicyManager" Type="HCSSS.Framework.System.BizLogic.PolicyManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="UserManager" Type="HCSSS.Framework.System.BizLogic.UserManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="FileCategoryManager" Type="HCSSS.Framework.System.BizLogic.FileCategoryManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="FileItemManager" Type="HCSSS.Framework.System.BizLogic.FileItemManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="ScopeManager" Type="HCSSS.Framework.System.BizLogic.ScopeManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="BusinessTypeManager" Type="HCSSS.Framework.System.BizLogic.BusinessTypeManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="BusinessStatusManager" Type="HCSSS.Framework.System.BizLogic.BusinessStatusManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="BusinessDetailManager" Type="HCSSS.Framework.System.BizLogic.BusinessDetailManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="BanksManager" Type="HCSSS.Framework.System.BizLogic.BanksManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="AdvertisementManager" Type="HCSSS.Framework.System.BizLogic.AdvertisementManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="DistrictManager" Type="HCSSS.Framework.System.BizLogic.DistrictManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="WardManager" Type="HCSSS.Framework.System.BizLogic.WardManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="StreetManager" Type="HCSSS.Framework.System.BizLogic.StreetManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="ContactUsManager" Type="HCSSS.Framework.System.BizLogic.ContactUsManager" Assembly="HCSSS.Framework.System" />
		<!--Gallery-->
		<BizObject Name="GalleryCategoryManager" Type="HCSSS.Framework.System.BizLogic.GalleryCategoryManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="GalleryItemManager" Type="HCSSS.Framework.System.BizLogic.GalleryItemManager" Assembly="HCSSS.Framework.System" />
		<!-- CMS -->
		<BizObject Name="CategoryManager" Type="HCSSS.CMS.BizLogic.CategoryManager" Assembly="HCSSS.CMS" />
		<BizObject Name="CategoryPolicyManager" Type="HCSSS.CMS.BizLogic.CategoryPolicyManager" Assembly="HCSSS.CMS" />
		<!-- News -->
		<BizObject Name="NewsManager" Type="HCSSS.CMS.News.BizLogic.NewsManager" Assembly="HCSSS.CMS.News" />
		<!-- Wards -->
		<BizObject Name="WardsManager" Type="HCSSS.CMS.Wards.BizLogic.WardsManager" Assembly="HCSSS.Framework.System" />
		<BizObject Name="WardsDetailManager" Type="HCSSS.CMS.Wards.BizLogic.WardsDetailManager" Assembly="HCSSS.Framework.System" />
		<!-- Client -->
		<BizObject Name="ClientManager" Type="HCSSS.Framework.System.BizLogic.ClientManager" Assembly=" HCSSS.Framework.System" />

    <BizObject Name="AdvertisementTypeManager" Type="HCSSS.AddOn.Advertisement.BizLogic.AdvertisementTypeManager" Assembly="HCSSS.AddOn.Advertisement" />
    <BizObject Name="AdvertisementLayoutManager" Type="HCSSS.AddOn.Advertisement.BizLogic.AdvertisementLayoutManager" Assembly="HCSSS.AddOn.Advertisement" />
    <BizObject Name="AdvertisementZoneManager" Type="HCSSS.AddOn.Advertisement.BizLogic.AdvertisementZoneManager" Assembly="HCSSS.AddOn.Advertisement" />
    <BizObject Name="AdvertisementBlockManager" Type="HCSSS.AddOn.Advertisement.BizLogic.AdvertisementBlockManager" Assembly="HCSSS.AddOn.Advertisement" />
    <BizObject Name="AdvertisementItemManager" Type="HCSSS.AddOn.Advertisement.BizLogic.AdvertisementItemManager" Assembly="HCSSS.AddOn.Advertisement" />
    <BizObject Name="OrderAdvertisementManager" Type="HCSSS.AddOn.Advertisement.BizLogic.OrderAdvertisementManager" Assembly="HCSSS.AddOn.Advertisement" />
	</BizConfiguration>
	<!--END Biz Configuration-->
	<appSettings file="Message.config">
    <add key="UrlRewriteListPage" value="/(?:(?:/page(?&lt;page>\d+))|(page(?&lt;page>\d+)))" />
    <add key="UrlRewriteDetailPage" value="/((?:(?&lt;id>\d+)-(?&lt;date>\d+)?([^/]+)/page(?&lt;page>\d+))|(?:(?&lt;id>\d+)-(?&lt;date>\d+)?([^/]+)))" />
    <add key="web_extenstion" value=".aspx" />
		<add key="GoogleAPIKey" value="ABQIAAAAuWACKa5TLkNhSZQLwHNM3BQF43hSbLQL4o07N5mnxhm9RL8g4hQ7qwQOeQ-rY7bba86naHvQt4ipnA" />
		<!-- AppSetting -->
		<add key="System.Layout" value="Default,Classical,Standard" />
		<add key="System.Layout.File" value="~/Admin/Default.Master,~/Admin/Classical.Master,~/Admin/Standard.Master" />
		<add key="Telerik.Skin" value="Office2007" />
    <add key="SqlConnectionString" value="server=.\SQLEXPRESS;uid=panahvn; pwd=hoicsss@2012; database=panah; Connection Timeout=120" />
		<add key="CultureInfo" value="en-AU" />
		<add key="Security" value="ON" />
		<add key="Captcha" value="ON" />
		<add key="CaptchaKey" value="abctco12$%^bg" />
		<add key="CaptchaSalt" value="chithanhco" />
		<add key="LogLevel" value="0" />
		<add key="TimeCaching" value="20" />
		<add key="PageSize" value="30" />
		<add key="PageViewSize" value="10" />
		<add key="DisplayDateTimeFormat" value="dd/MM/yyyy HH:mm:ss tt" />
		<add key="DisplayDateFormat" value="dd/MM/yyyy" />
		<add key="DisplayNumberFormat" value="#,##0" />
		<add key="DisplayDecimalFormat" value="#,##0.00" />
		<add key="Currency" value="VNĐ" />
		<add key="MinDate" value="01/01/1753" />
		<add key="UserGroupID" value="1" />
		<add key="AdminGroupID" value="1" />
		<!-- Email-->
		<add key="SMTPMailServer" value="mail.chithanhco.com" />
		<add key="SMTPMailServerPort" value="25" />
		<add key="SMTPMailServerSecure" value="NO" />
		<add key="SystemEmail" value="mai_vuthanh@yahoo" />
		<add key="SystemEmailAlias" value="Phòng kỹ thuật điều hành - Chithanhco" />
		<add key="POP3Domain" value="yahoo.com" />
		<add key="POP3MailServer" value="mail.chithanhco.com" />
		<add key="POP3MailServerPort" value="110" />
		<add key="POP3MailServerSecure" value="NO" />
		<add key="sLinksAcctivPass" value="http://panah.vn/active.aspx" />
		<!-- Copyright -->
		<add key="CopyrightName" value="HCSSS" />
		<add key="CopyrightLink" value="http://www.panah.vn/" />
		<add key="PoweredName" value="HCSSS" />
		<add key="PoweredLink" value="http://www.panah.vn/" />
		<!-- Media Manager-->
		<add key="UpLoadDirectory" value="Resources" />
		<add key="PublicDirectory" value="Public" />
		<add key="PublicImageDirectory" value="Resources" />
		<add key="PublicAudioDirectory" value="PublicAudio" />
		<add key="PublicVideoDirectory" value="PublicVideo" />
		<add key="ThumbnailDirectory" value="_thumb" />
		<add key="TempDirectory" value="Temp" />
		<add key="CommonDirectory" value="Common" />
		<add key="TemplateDirectory" value="Template" />
		<!--editer start-->
		<add key="FileTypeAllow" value="*.jpg,*.jpeg,*.gif,*.png,*.mp3,*.mp4,*.mid,*.amr,*.wav,*.wma,*.flv,*.wmv,*.swf,*.txt,*.doc,*.docx,*.xls,*.xlsx,*.pdf,*.zip,*.rar" />
		<add key="ImageFileType" value=".jpg,.jpeg,.gif,.png" />
		<add key="AudioFileType" value=".mp3,.mid,.amr,.wav,.wma" />
		<add key="VideoFileType" value=".mp4,.flv,.wmv" />
		<add key="FlashFileType" value="*.swf" />
		<add key="LeadMaxWords" value="50" />
		<add key="LeadMaxChars" value="250" />
		<!--editer end-->
		<add key="DeleteFromPhysical" value="YES" />
		<add key="ThumbnailHeight" value="67" />
		<add key="ThumbnailWidth" value="100" />
		<add key="MaxUploadFileSize" value="10480" />
		<add key="MaxUploadFileZipSize" value="40960" />
		<add key="PublicServerLink" value="" />
		<add key="ImageServerLink" value="" />
		<add key="AudioServerLink" value="" />
		<add key="VideoServerLink" value="" />
		<!-- Image Proxy-->
		<add key="ImageBlank" value="/Images/blank.gif" />
	</appSettings>	
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
