<?xml version="1.0" encoding="utf-8"?>
<urlMappings>
  <urlfix>
    <add key="web_refix" value="/web.testing/" />
    <urlrewrites>
      <menu-hotrodanhnghiep>
        <rewrite url="/hotrodoanhnghiep/tin-tuc.html" to="/hotrodoanhnghiep/Default.aspx?CategoryID=299&amp;PId=299&amp;path=/hotrodoanhnghiep/tin-tuc/" />
        <rewrite url="/hotrodoanhnghiep/thu-tuc-dang-ky-kinh-doanh.html" to="/hotrodoanhnghiep/thutucdangkykinhdoanh.aspx?DocId=194&amp;Pid=277&amp;CategoryID=277&amp;PId=277&amp;path=/hotrodoanhnghiep/thu-tuc-dang-ky-kinh-doanh/" />
        <rewrite url="/hotrodoanhnghiep/van-ban-phap-luat.html" to="/hotrodoanhnghiep/vanbanphapluat.aspx?CategoryID=278&amp;PId=278&amp;path=/hotrodoanhnghiep/van-ban-phap-luat/" />
        <rewrite url="/hotrodoanhnghiep/du-an-phat-trien-dn-nho-vua.html" to="/hotrodoanhnghiep/duanphattriendoanhnghiep.aspx?DocId=167&amp;CategoryID=280&amp;PId=280&amp;path=/hotrodoanhnghiep/du-an-phat-trien-dn-nho-vua/" />
      </menu-hotrodanhnghiep>
      <TEMPLATE>
        <rewrite url="/hcsss/thu-vien-anh.html" to="/hcsss/ImageLibrary.aspx" />
        <rewrite url="/hcsss/thu-vien-anh/album(\d+).html" to="/hcsss/ImageDetail.aspx?DocId=$1" />
        <rewrite url="/hcsss/dang-ky-hoi-nghi.html" to="/hcsss/rgConferences.aspx" />
        <rewrite url="/hcsss/tim-kiem(?:/page(\d+))?.html" to="/hcsss/snewsresult.aspx?page=$1&amp;CategoryId=299" />
        <rewrite url="/hcsss/tim-kiem-tai-lieu(?:/page(\d+))?.html" to="/hcsss/searchdoc.aspx?page=$1&amp;CategoryId=299" />
        <rewrite url="/hcsss/dang-ky.html" to="/hcsss/register.aspx?CategoryId=299" />
        <rewrite url="/hcsss/quen-mat-khau.html" to="/hcsss/forgotpass.aspx?CategoryId=299" />
        <rewrite url="/hcsss/doi-mat-khau.html" to="/hcsss/changepass.aspx?CategoryId=299" />
        <rewrite url="/hcsss/thong-bao-loi.html" to="/hcsss/errors.aspx?CategoryId=299" />
        <rewrite url="/hcsss/thong-bao-dang-ky-thanh-vien.html" to="/hcsss/Msgreg.aspx?CategoryId=299" />
        <rewrite url="/hcsss/bando-website.html" to="/hcsss/sitemap.aspx?CategoryId=299" />
        
        <rewrite url="NEWS-[GROUP]" to="/hcsss/News.aspx?SystemName=/hcsss/tin-tuc/&amp;CategoryID=${CATEGORYID}&amp;PId=${PARENTID}&amp;path=/hotrodoanhnghiep/tin-tuc/&amp;page=${page}&amp;module=news&amp;vpath=${PATHVAL}" />
        <rewrite url="NEWS-[GROUP]-[DETAIL]" to="/hcsss/NewsDetail.aspx?DocId=${id}&amp;SystemName=/hcsss/tin-tuc/&amp;CategoryID=${CATEGORYID}&amp;PId=${PARENTID}&amp;path=/hotrodoanhnghiep/tin-tuc/&amp;xtype=news-detail&amp;page=${page}&amp;module=news&amp;vpath=${PATHVAL}" processing="stop" />
        <rewrite url="PROJECT-[GROUP]" to="/hotrodoanhnghiep/NewsDA.aspx?SystemName=${SYSTEMNAME}&amp;CategoryID=${CATEGORYID}&amp;PId=${PARENTID}&amp;path=${PATHVAL}&amp;page=${page}&amp;module=news" />
        <rewrite url="PROJECT-[GROUP]-[DETAIL]" to="/hotrodoanhnghiep/NewsDetailDA.aspx?DocId=${id}&amp;SystemName=${SYSTEMNAME}&amp;CategoryID=${CATEGORYID}&amp;PId=${PARENTID}&amp;path=${PATHVAL}&amp;xtype=news-detail&amp;page=${page}&amp;module=news" processing="stop" />
        <rewrite url="DOCUMENT-[GROUP]" to="/hotrodoanhnghiep/vanbanphapluat.aspx?SystemName=${SYSTEMNAME}&amp;CategoryID=${CATEGORYID}&amp;PId=${PARENTID}&amp;path=${PATHVAL}&amp;page=${page}&amp;module=news" />
        <rewrite url="DOCUMENT-[GROUP]-[DETAIL]" to="/hotrodoanhnghiep/vanbanphapluat.aspx?DocId=${id}&amp;SystemName=${SYSTEMNAME}&amp;CategoryID=${CATEGORYID}&amp;PId=${PARENTID}&amp;path=${PATHVAL}&amp;xtype=news-detail&amp;page=${page}&amp;module=news" processing="stop" />
      </TEMPLATE>
    </urlrewrites>
    <urldynimic>
      <item-276>
        <rewrite url="/hcsss/trang-chu.html" to="Default.aspx?CategoryID=299&amp;PId=299&amp;path=/hcsss/trang-chu/" />
        <rewrite url="/hcsss/gioi-thieu.html" to="/hcsss/intro.aspx?CategoryID=277&amp;PId=277&amp;path=/hcsss/gioi-thieu/" />
        <rewrite url="/hcsss/hoi-vien.html" to="mem.aspx?CategoryID=278&amp;PId=278&amp;path=/hcsss/hoi-vien/" />
        <rewrite url="/hcsss/hoi-dap.html" to="/hcsss/ques.aspx?CategoryID=280&amp;PId=280&amp;path=/hcsss/hoi-dap/" />
        <rewrite url="/hcsss/dien-dan.html" to="#?CategoryID=322&amp;PId=322&amp;path=/hcsss/dien-dan/" />
        <rewrite url="/hcsss/lien-he.html" to="/hcsss/contact.aspx?CategoryID=321&amp;PId=148&amp;path=/hcsss/lien-he/" />
      </item-276>
      <item-299>
        <add detail="1" sql="0" name="NEWS-[GROUP]-[DETAIL]" key="/hcsss/trang-chu/tin-tuc-chuyen-mon//((?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)/page(?&lt;page&gt;\d+))|(?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)))" patem="/hcsss/trang-chu/tin-tuc-chuyen-mon/((?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)/page(?&lt;page&gt;\d+))|(?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)))" value="282" parentid="276,299" />
        <add detail="0" sql="1" name="NEWS-[GROUP]" key="/hcsss/trang-chu/tin-tuc-chuyen-mon/" patem="(?:/hcsss/trang-chu/tin-tuc-chuyen-mon/(?:(?:/page(?&lt;page&gt;\d+))|(page(?&lt;page&gt;\d+)))|(?:/hcsss/trang-chu/tin-tuc-chuyen-mon))" value="282" parentid="276,299" />
        <add detail="1" sql="0" name="NEWS-[GROUP]-[DETAIL]" key="/hcsss/trang-chu/tin-hoat-dong//((?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)/page(?&lt;page&gt;\d+))|(?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)))" patem="/hcsss/trang-chu/tin-hoat-dong/((?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)/page(?&lt;page&gt;\d+))|(?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)))" value="283" parentid="276,299" />
        <add detail="0" sql="1" name="NEWS-[GROUP]" key="/hcsss/trang-chu/tin-hoat-dong/" patem="(?:/hcsss/trang-chu/tin-hoat-dong/(?:(?:/page(?&lt;page&gt;\d+))|(page(?&lt;page&gt;\d+)))|(?:/hcsss/trang-chu/tin-hoat-dong))" value="283" parentid="276,299" />
        <add detail="1" sql="0" name="NEWS-[GROUP]-[DETAIL]" key="/hcsss/trang-chu/tin-hoi-nghi//((?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)/page(?&lt;page&gt;\d+))|(?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)))" patem="/hcsss/trang-chu/tin-hoi-nghi/((?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)/page(?&lt;page&gt;\d+))|(?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)))" value="284" parentid="276,299" />
        <add detail="0" sql="1" name="NEWS-[GROUP]" key="/hcsss/trang-chu/tin-hoi-nghi/" patem="(?:/hcsss/trang-chu/tin-hoi-nghi/(?:(?:/page(?&lt;page&gt;\d+))|(page(?&lt;page&gt;\d+)))|(?:/hcsss/trang-chu/tin-hoi-nghi))" value="284" parentid="276,299" />
		  <add detail="1" sql="0" name="NEWS-[GROUP]-[DETAIL]" key="/hcsss/trang-chu/suu-tam//((?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)/page(?&lt;page&gt;\d+))|(?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)))" patem="/hcsss/trang-chu/suu-tam/((?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)/page(?&lt;page&gt;\d+))|(?:(?&lt;id&gt;\d+)-(?&lt;date&gt;\d+)?([^/]+)))" value="284" parentid="276,299" />
		  <add detail="0" sql="1" name="NEWS-[GROUP]" key="/hcsss/trang-chu/suu-tam/" patem="(?:/hcsss/trang-chu/suu-tam/(?:(?:/page(?&lt;page&gt;\d+))|(page(?&lt;page&gt;\d+)))|(?:/hcsss/trang-chu/suu-tam))" value="284" parentid="276,299" />
      </item-299>
      <item-282 />
      <item-283 />
      <item-284 />
      <item-277 />
      <item-278>
        <rewrite url="/hcsss/hoi-vien/danh-sach-hoi-vien.html" to="/hcsss/mem.aspx?CategoryID=288&amp;PId=288&amp;path=/hcsss/danh-sach-hoi-vien/" />
        <rewrite url="/hcsss/hoi-vien/dang-ky-hoi-vien.html" to="/hcsss/register.aspx?CategoryID=289&amp;PId=289&amp;path=/hcsss/dang-ky-hoi-vien/" />
      </item-278>
      <item-288 />
      <item-289 />
      <item-280 />
      <item-322 />
      <item-321 />
    </urldynimic>
  </urlfix>
</urlMappings>