<?xml version="1.0" encoding="utf-8"?>
<urlMappings>
  <urlfix>
    <add key="web_refix" value="/" />
    <urlrewrites>
      <menu-hotrodanhnghiep>
        <rewrite url="/hotrodoanhnghiep/trang-chu.html" to="/hotrodoanhnghiep/Default.aspx?MId=299&amp;SystemName=/hotrodoanhnghiep/trang-chu/" />
        <rewrite url="/hotrodoanhnghiep/thu-tuc-dang-ky-kinh-doanh.html" to="/hotrodoanhnghiep/thutucdangkykinhdoanh.aspx?DocId=194&amp;Pid=277&amp;MId=277&amp;SystemName=/hotrodoanhnghiep/thu-tuc-dang-ky-kinh-doanh/" />
        <rewrite url="/hotrodoanhnghiep/van-ban-phap-luat.html" to="/hotrodoanhnghiep/vanbanphapluat.aspx?MId=278&amp;SystemName=/hotrodoanhnghiep/van-ban-phap-luat/" />
        <rewrite url="/hotrodoanhnghiep/du-an-phat-trien-dn-nho-vua.html" to="/hotrodoanhnghiep/duanphattriendoanhnghiep.aspx?DocId=167&amp;Pid=280&amp;MId=280&amp;SystemName=/hotrodoanhnghiep/du-an-phat-trien-dn-nho-vua/" />
      </menu-hotrodanhnghiep>
    </urlrewrites>
  </urlfix>
</urlMappings>