<sidebar class="col-md-4">
    <!-- Sự kiện thông báo -->
    @Html.Action("Events","Home")
    <!-- / Sự kiện thông báo -->

    <div class="col-md-12 box-sidebar box-for-user" style="background-image:url(/Content/Images/tra-cuu-tai-lieu.jpg)">
        <h2><a href="/thanh-vien/tra-cuu-tai-lieu" style="text-indent:-9999px">Tra cứu tài liệu</a></h2>
    </div>

    <div class="col-md-12 box-sidebar box-for-user" style="background-image:url(/Content/Images/dang-ky-hoi-nghi.jpg)">
        <h2><a href="/thanh-vien/dang-ky-hoi-nghi" style="text-indent:-9999px">Đăng ký hội nghị</a></h2>
    </div>

    @*@Html.Action("Gallery", "Home")*@

    @Html.Action("Ads", "Home")
</sidebar>